.vscode/**
typings/**
out/**
test/**
src/**
grunt/**
gruntfile.js
.travis*
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
testfiles
node_modules
.devcontainer
webpack.config.js
!images
!dist
